.page-title {
    color: #85C7DE;
    text-align: center;
    font-size: 50px;
}

.header {
    border: solid black;
    display: grid;
    grid-template-rows: 1fr  1fr;
    height: 200px;
    margin-bottom: 30px;
}

.content {
    background-color: white;
    display: grid;
    grid-template-rows: 200px  1fr  1fr  100px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.nav-button {
    font-size: 30px;
}

.nav-button:hover {
    transform: translateY(-10px);
}

.home {
    border: solid black;
}
