:root {
    height: 100%;
}

body {
    background-image: url('./3395.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title {
    color: #85C7DE;
    text-align: center;
    font-size: 50px;
}

.header {
    border: solid #C6DBF0;
    display: grid;
    grid-template-rows: 1fr  1fr;
    height: 200px;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.7);
}

.content {
    background-color: white;
    display: grid;
    grid-template-rows: 200px  1fr  1fr  100px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.nav-button {
    font-size: 30px;
    color: #85C7DE;
    background-color: rgba(0,0,0,0.5);
    border: none;
}

.nav-button:hover {
    transform: translateY(-10px);
    transition-duration: 2s;
}

.home {
    border: solid #C6DBF0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    justify-items: center;
    margin: 0 25% 0 25%;
    padding: 50px;
    background-color: rgba(0,0,0,0.6);
}

.home-title {
    color: #A0C4E2;
}

.home-logo {
    width: 300px;
    height: 300px;
    border-radius: 30%;
}

.menu {
    background-color: rgba(0,0,0,0.6);
    border-bottom: solid #85C7DE;
}

.menu-label {
    color: #cff0a1;
    border-top: solid #85C7DE;
    padding: 10px;
}

.menu-description {
    color: #cff0a1;
    text-align: right;
    padding-right: 10px;
}
